{% extends 'blog/base.html' %}

{% block title%}
    Acerca de mí
{% endblock title%}

{% load static %}

{% block content_title%}
    <h2>Acerca de mí</h2>
{% endblock content_title%}
{% block content%}
<p></p>
<p></p>
<p></p>

<p style="text-align: justify; margin: 20px;">¡Hola! Me llamo Vanesa Yasmin Mayorga, tengo 33 años, soy Ingeniera en Sistemas con 3 años de experiencia como Software Engineer. Desde que comencé a estudiar Ingeniería en Sistemas, me fascinó el mundo de la programación y cómo la tecnología puede solucionar problemas complejos de manera eficiente.</p>

<img src="{% static 'blog/images/about_me.jpg' %}" alt="Vanesa">

<p style="text-align: justify; margin: 20px;">A lo largo de mi carrera profesional, he trabajado en diversos proyectos de desarrollo de software, principalmente enfocados en backend y optimización de sistemas. Sin embargo, siempre me ha interesado aprender nuevas tecnologías, por lo que recientemente decidí profundizar en Python y Django.</p>

<p style="text-align: justify; margin: 20px;">Acabo de concluir un curso intensivo sobre estas tecnologías, donde aprendí a construir aplicaciones web robustas utilizando Python como lenguaje de programación y Django como framework. Durante este proceso, he adquirido un conocimiento práctico que estoy ansiosa por aplicar en nuevos proyectos y seguir perfeccionando.</p>

<p style="text-align: justify; margin: 20px;">Mi enfoque es siempre estar en constante aprendizaje y crecimiento, y este curso ha sido una excelente oportunidad para expandir mis habilidades. Ahora, me siento más preparada para enfrentar desafíos nuevos en el desarrollo web y aplicar mis conocimientos en proyectos reales.</p>

<p></p>
<p></p>
<p></p>

<h3 style="text-align: center; margin: 20px;">¿Qué me motiva?</h3>

<p></p>
<p></p>
<p></p>

<p style="text-align: justify; margin: 20px;">Lo que más me motiva es la posibilidad de aprender y mejorar de manera constante. Creo que la tecnología tiene el poder de transformar el mundo y me encanta formar parte de este proceso. Además, disfruto mucho de la colaboración en equipo y de compartir lo que aprendo con otros.</p>

<p style="text-align: justify; margin: 20px; margin-bottom:10px;">Aunque este curso de Python con Django ha sido solo un primer paso, estoy comprometida a seguir perfeccionando mis habilidades y aplicar todo lo aprendido en proyectos futuros.</p>

<img style = "margin-bottom:70px;" src="{% static 'blog/images/py-dj.jpg' %}" alt="Python and Django">

{% endblock content %}
