{% extends 'blog/base.html' %}

{% block title %}
    Acerca de mí
{% endblock title %}

{% load static %}

{% block content_title %}
    <h2 class="my-4 text-primary">Acerca de mí</h2>
{% endblock content_title %}

{% block content %}
{% load static %}
<div class="container my-4">
    <div class="card shadow-sm p-4">
        <div class="row g-4 align-items-center">

            <div class="col-md-4 text-center">
                <img src="{% static 'blog/images/about_me.jpg' %}" alt="Vanesa" class="img-fluid rounded-circle border border-success" style="max-width: 250px;">
            </div>

            <div class="col-md-8">
                <p class="text-justify">
                    ¡Hola! Me llamo <strong>Vanesa Yasmin Mayorga</strong>, tengo 33 años, y soy Ingeniera en Sistemas con 3 años de experiencia como Software Engineer. Desde que comencé a estudiar Ingeniería en Sistemas, me fascinó el mundo de la programación y cómo la tecnología puede solucionar problemas complejos de manera eficiente.
                </p>
                <p class="text-justify">
                    A lo largo de mi carrera profesional, he trabajado en diversos proyectos de desarrollo de software, principalmente enfocados en backend y optimización de sistemas. Sin embargo, siempre me ha interesado aprender nuevas tecnologías, por lo que recientemente decidí profundizar en <strong>Python</strong> y <strong>Django</strong>.
                </p>
            </div>
        </div>
    </div>

    <div class="card mt-4 shadow-sm p-4">
        <h3 class="text-center text-success mb-3">¿Qué me motiva?</h3>
        <p class="text-justify">
            Lo que más me motiva es la posibilidad de aprender y mejorar de manera constante. Creo que la tecnología tiene el poder de transformar el mundo, y me encanta formar parte de este proceso. Además, disfruto mucho de la colaboración en equipo y de compartir lo que aprendo con otros.
        </p>
        <p class="text-justify">
            Acabo de concluir un curso intensivo sobre Python y Django, donde aprendí a construir aplicaciones web robustas utilizando Python como lenguaje de programación y Django como framework. Este curso fue una excelente oportunidad para expandir mis habilidades y ahora me siento más preparada para enfrentar nuevos desafíos en el desarrollo web.
        </p>
        <p class="text-justify mb-0">
            Aunque este curso de Python con Django ha sido solo un primer paso, estoy comprometida a seguir perfeccionando mis habilidades y aplicar todo lo aprendido en proyectos futuros.
        </p>
        <div class="text-center mt-4">
            <img src="{% static 'blog/images/py-dj.jpg' %}" alt="Python and Django" class="img-fluid rounded shadow" style="max-width: 40%;">
        </div>
    </div>
</div>
{% endblock content %}
