{% extends 'blog/base.html' %}

{% block title %}
    Agregar Curso
{% endblock title %}

{% block content_title %}
    <h2 class="mt-4">Formulario para agregar Cursos nuevos</h2>
{% endblock content_title %}

{% block content %}
<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-body">
            <form method="post" class="form">
                {% csrf_token %}
                
                {% for field in cursoForm %}
                    <div class="mb-3">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            <div class="text-danger">
                                {{ field.errors|first }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

                <div class="text-center mt-4">
                    <a href="{% url 'cursos_disponibles' %}" class="btn btn-secondary">Cancelar</a>
                    <input type="submit" value="Agregar Curso" class="btn btn-success">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
