{% extends 'blog/base.html' %}

{% block title%}
Contraseña Actualizada
{% endblock title%}

{% block content_title%}
    <h2 class="text-center mt-4">¡Contraseña actualizada!</h2>
{% endblock content_title%}

{% block content%}
<div class="container mt-4">
    <div class="alert alert-success text-center" role="alert">
        ✅ Tu contraseña fue cambiada correctamente.
    </div>

    <div class="text-center mt-3">
        <a href="{% url 'profile' %}" class="btn btn-primary">Volver al Perfil</a>
    </div>
</div>
{% endblock content %}