{% extends 'blog/base.html' %}

{% block title%}
    Cambiar Contraseña
{% endblock title%}

{% block content_title%}
    <h2 class="text-center mt-4">Cambiar Contraseña</h2>
{% endblock content_title%}

{% block content%}
<div class="container mt-4">
    <div class="card shadow-sm p-4">
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.as_p }}
            </div>
            <div class="text-center mt-4">
                <input type="submit" class="btn btn-success" value="Actualizar contraseña">
                <a href = "{% url 'profile' %}" class="btn btn-secondary ms-2">Cancelar</a>
            </div>
        </form>
    </div>

{% endblock content %}