{% extends 'blog/base.html' %}

{% block title%}
    Editar
{% endblock title%}

{% block content_title %}
    <h2 class="text-center my-4">Editar Perfil</h2>
{% endblock content_title %}

{% block content%}
<div class="container mt-4">
    <form action="{% url 'editar_perfil' %}" method="post" enctype="multipart/form-data" class="card p-4 shadow-sm">
    {% csrf_token %}

    <fieldset>
        <legend>Datos de Usuario</legend>
        {{ form_user.as_p }}
    </fieldset>

    <fieldset>
        <legend>Datos de Perfil</legend>
        {{ form_profile.as_p }}
    </fieldset>

    <div class="text-center mt-4">
        <button type="submit" class="btn btn-success">Guardar Cambios</button>
        <a href="{% url 'profile' %}" class="btn btn-secondary ms-2">Cancelar</a>
    </form>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    </div>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
</div>
{% endblock content %}