{% extends 'blog/base.html' %}


{% block title%}
Perfil
{% endblock title%}

{% block content%}

<div class="perfil-container">
    
    <h2>Perfil de {{ user.username }}</h2>
    <img src="{{ profile.avatar.url }}" alt="Foto de perfil">
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Nombre Completo:</strong> {{ user.first_name }} {{ user.last_name }} </p>
    <p><strong>Fecha de Nacimiento:</strong> {{ profile.birth_date|default:"No especificada" }}</p>
    <p><strong>Biografía:</strong></p>
    <p>{{ profile.bio|default:"Sin biografía aún." }}</p>
    <a href="{% url 'logout' %}">Cerrar sesión</a>
</div>

{% endblock content %}