{% extends 'blog/base.html' %}


{% block title%}
Perfil
{% endblock title%}

{% block content%}

<div class="perfil-container">
    
    <h2>Perfil de {{ request.user.username }}</h2>
    <pre>{{ request.user }}</pre>
    <img src="{{ profile.avatar.url }}" alt="Foto de perfil">
    <p><strong>Nombre:</strong> {{ request.user.first_name }} {{ request.user.last_name }}</p>
    <p><strong>Email:</strong> {{ request.user.email }}</p>
    <p><strong>Fecha de Nacimiento:</strong> {{ profile.birth_date|default:"No especificada" }}</p>
    <p><strong>Biografía:</strong></p>
    <p>{{ profile.bio|default:"Sin biografía aún." }}</p>
    <a href="{% url 'logout' %}">Cerrar sesión</a>
</div>

{% endblock content %}